<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% extends "base.html" %}
{% block content %}
  <h2>Dashboard Admin</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card p-3 text-center">
        <h4>Total usuarios</h4>
        <p>{{ total_usuarios }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 text-center">
        <h4>Admins</h4>
        <p>{{ total_admins }}</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card p-3 text-center">
        <h4>Editores</h4>
        <p>{{ total_editores }}</p>
      </div>
    </div>
  </div>
{% endblock %}
