<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<!DOCTYPE html>
<html lang="es">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</body>
</html>
{% extends "base.html" %}
{% block content %}
  <div class="card p-5 text-center welcome">
    <h1 class="welcome-title">Bienvenido a Mi  Primera App Html y Css</h1>
    <p class="welcome-text">Gestiona usuarios, roles y contenido </p>
    <a href="{{ url_for('login') }}" class="btn btn-primary mt-3">Comenzar</a>
  </div>
{% endblock %}

