{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
    <a href="{{ url_for('index') }}">Inicio</a>
    {% if not session.get('usuario') %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Registro</a>
    {% endif %}
    {% if session.get('role') == 'admin' %}
        <a href="{{ url_for('dashboard') }}">Dashboard</a>
    {% endif %}
    {% if session.get('role') in ['admin', 'editor'] %}
        <a href="{{ url_for('editor') }}">Editor</a>
    {% endif %}
    {% if session.get('usuario') %}
        <a href="{{ url_for('perfil') }}">Perfil</a>
        <a href="{{ url_for('logout') }}">Salir</a>
    {% endif %}
</nav>



    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>
</html>
